@model IEnumerable<Estamparia.Aplication.Models.Producao>

@{
    ViewData["Title"] = "List";
}

<h1>Lista</h1>

<p>
    @Html.ActionLink("Cadastrar", "Create")
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HoraInicio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HoraFim)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QuantidadeHora)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MediaFinal)
            </th>
             <th>
                @Html.DisplayNameFor(model => model.QuantidadePecas)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ValorUnitario)
            </th>
            <th>
                <h6><b>Valor Total</b></h6>
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HoraInicio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HoraFim)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QuantidadeHora)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MediaFinal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QuantidadePecas)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ValorUnitario)
            </td>
            <td>
                @Html.ValueForModel((item.ValorUnitario * Convert.ToDecimal(item.QuantidadePecas)).ToString())
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new {  id=item.Id  }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) 
            </td>
        </tr>
}
    </tbody>
</table>
